/*колір основного тексту #212121*/
/*вторинний колір #757575*/
/*білий #FFFFFF*/
/*акцент #2196F3*/
/*вторинний колір фону #F5F4FA,#2F303A, 
#EEEEEE*/

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-bg-color: #2f303a;
  --section-bg-color: #f5f4fa;
  --section-bg2-color: #eeeeee;
  --footer-title-color: #ffffff99;
}

body {
  margin: 0;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section {
  padding: 94px 0;
}

/* Logo */

.page-header > .container {
  outline: 2px solid tomato;
}

.logo {
  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo-word {
  color: var(--accent-color);
}

.logo:hover {
  color: var(--accent-color);
}

/* Site-nav */

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item + .item {
  margin-left: 50px;
}
.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* Contacts */

.contacts {
  display: flex;
  margin-left: auto;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.contacts .item + .item {
  margin-left: 50px;
}

.phone-link,
.mail-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  text-decoration: none;
}

.phone-link:hover,
.mail-link:focus {
  color: var(--accent-color);
}

/* Hero */

.hero-title {
  color: var(--primary-white-color);
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding: 200px 452px 280px;
}
.hero {
  text-align: center;
  background-color: var(--primary-bg-color);
}

/* Feature */

.feature-list .title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}
.feature-list p {
  margin-top: 0;
  margin-bottom: 0;
}

.feature-list .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.feature {
  display: flex;
  flex-wrap: wrap;
}

.feature .item {
  width: 270px;
}

.feature .item + .item {
  margin-left: 30px;
}

/* Work */

.work-title {
  margin-top: 0;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.5;
  text-align: center;
}

.work-list {
  outline: 2px solid tomato;
}

/* Team */

.team-list .title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.profession {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
}
.work-team-list {
  background-color: var(--section-bg-color);
  /* padding-top: 94px;
  padding-bottom: 94px; */
}

/* Project */

.project {
  display: block;
}

.link {
  text-decoration: none;
}

.project-link .project {
  background-color: var(--section-bg2-color);
}

.project-link .project-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.project-link .filter {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
}

.project-link {
  background-color: aquamarine;
  outline: 2px solid tomato;
}

.project-list {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 34px;
}

.project-list .item + .item {
  margin-left: 8px;
}
.project-list .button.secondary:hover,
.project-list .button.secondary:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.project-primary-title,
.feature-title {
  margin: 0;
  visibility: hidden;
  height: 0;
}

.project-title {
  margin-top: 20px;
  margin-bottom: 4px;
}

.projects {
  outline: 2px solid tomato;
}

.filter {
  margin-top: 0;
  margin-bottom: 20px;
}

/* Button */
.button {
  color: var(--title-text-color);
  background-color: var(--section-bg-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px;
}

.button-hero {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  text-align: center;
}

.button.primary.current {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding: 6px 25px;
  text-align: center;
}

/* Footer */

.address-section {
  background-color: var(--primary-bg-color);
  outline: 2px solid tomato;
  width: 1600px;
}

.logo-footer {
  color: var(--primary-white-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo-footer:hover {
  color: var(--accent-color);
}

.street {
  color: var(--primary-white-color);
}

.mail,
.phone {
  color: var(--footer-title-color);
}
.street,
.mail,
.phone {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
  text-decoration: none;
}

.street:hover,
.mail:hover,
.phone:hover,
.street:focus,
.mail:focus,
.phone:focus {
  color: var(--accent-color);
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
